*{
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
.in_progress__wrapper{
  width: 1020px;
  margin: 40px auto 0;
  padding-bottom: 40px;
}
 .in_progress{
    background: #f5f5f5;
    float: right;
    width: 700px;
  &__buy{
    margin: 40px 0 0;
    background: #fff;
    height:480px;
    &__head{
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
    }
    .in_progress__item{
      list-style: none;
      width: 700px;
      height:74px;
      border: 0;
      background: #eee;
      font-size: 0;
      border-style: solid;
      border-width: 0;
      h3{
        color:black;
      }
      &__list {
        width: 33%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        font-size: 22px;
        height:74px;
        font-size: 16px;
        color: #ccc;
        line-height:74px;
      }
      &__in_progress {
        background: #fff;
        width: 33%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        height:74px;
        font-size: 16px;
        color: #ccc;
        line-height:74px;
       }
       &__completed {
        width: 33%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        height:74px;
        font-size: 16px;
        color: #ccc;
        line-height:74px;
       }
      }
    }
  }
