.listing {
  float: right;
  width:700px;
  &__buy {
    margin: 40px 0 0;
    background: #fff;
    height: 480px;
    &__head {
      padding-left: 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
    }
  }
  &__item {
    width: 700px;
    height: 74px;
    background: #eee;
    h3 {
      color:black;
    }
    &__list {
      background: #fff;
      width: 33%;
      display: inline-block;
      text-align: center;
      font-size: 22px;
      height: 74px;
      font-size: 16px;
      color: #ccc;
      line-height: 74px;
    }
    &__in_progress {
      width: 33%;
      display: inline-block;
      text-align: center;
      height: 74px;
      font-size: 16px;
      color: #ccc;
      line-height: 74px;
    }
    &__completed {
      width: 33%;
      display: inline-block;
      text-align: center;
      height: 74px;
      font-size: 16px;
      color: #ccc;
      line-height: 74px;
    }
  }
}

.listing-contents {
  width: 700px;
  &__list {
    border-bottom: 1px solid #EEEEEE;
    width: 700px;
    height: 100px;
    background-color: #fff;
    padding-left: 10px;
    &--image {
      float:left;
      font-size: 9px;
      text-align: left;
    }
    &__text {
      float: left;
      padding-left: 15px;
      text-align: left;
      &--title {
        color: #333333;
      }
      &--status {
        background-color: #0099e8;
        border-radius: 2px;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        height: 20px;
        padding: 0 4px;
        line-height: 20px;
        width: 40px;
      }
    }
    &__unfound {
      opacity:0.1;
      background: image-url("mercari_icon.png");
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 110px 120px;
      text-align: center;
      font-size: 16px;
      color: black;
      padding: 160px 0 60px;
    }
  }
}

.backicon {
 margin: 0 auto;
}


